.loader-text {
  font-family: 'Montserrat', sans-serif;
  -webkit-text-stroke: 1px;
  letter-spacing: 5px;
  position: relative;
}
.loader-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #e9b508;
  -webkit-text-stroke: 3px #e9b508;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #e9b508;
  animation: text-fill 2s ease-in-out alternate infinite;
}
@keyframes text-fill {
  100% {width: 100%}
}